* {
  margin: 0;
  padding: 0;
}

h1,em {
  text-align: center;
  color: brown;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
  float: right;
}

body {
  background-image: url(./fondo1pagina2.jpg);
  width: 960px;
  margin: 0 auto;
}

#cabecera {
  text-align: center;
  color: blue;
  background-color: black;
  padding: 10px;
  margin: 10px;
}

#pie {
  color: blue;
  text-align: center;
  padding: 10px;
  margin: 10px;
  clear: both;
}

.tiposdecasa {
  color: aliceblue;
  width: 940px;
  float: left;
  margin: 10px;
  padding: 0px;
}

ul {
  display: inline;
  padding: 5px;
}

a[target] {
  color: #f00;
}

tr:nth-child(1) {
  background-color: rgb(251, 255, 0);
}

tr:nth-child(2) {
  background-color: green;
}

  #contenedor1 {
    display: flex;
    background-color: #ddd;
  }
  
  #contenedor1 div {
    border:1px solid black;
    padding:1rem;
  }
  
  p::first-letter {
    font-size: 200%;
    color:black;
  }

  
tr:nth-child(3) {
  background-color: green;
}

tr:nth-child(4) {
  background-color: green;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

td {
  border: 1px solid #000;
  text-align: center;
  padding: 0.5rem;
}

